<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if(TempData["ErrorAlert"] != null)
    {
        <script>
            window.alert("@TempData["ErrorAlert"]");
        </script>
    }
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Listings", "ListingList", "Home")</li>
                  

                    @if (Session["userIsAuthenticated"] != null && (bool)Session["userIsAuthenticated"] == true)
                    {
                        <li>@Html.ActionLink("User", "Index", "User")</li>

                        <li>@Html.ActionLink("Log out", "Logout", "User")</li>
                    }
                </ul>
            </div>

            @if (Session["userIsAuthenticated"] == null || (bool)Session["userIsAuthenticated"]==false)
            {
                <div id="navbar" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="email" placeholder="Email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" name="password" class="form-control">
                        </div>
                        <button type="submit" formaction="@Url.Action("Login", "User")" formmethod="post" class="btn btn-success">Sign in</button>
                    </form>
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HoldIt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
